*.class
*.log

.cache
.history
.lib/
dist/*
target
lib_managed/
src_managed/
project/boot/
project/plugins/project/

.idea*
.bsp

# Metals
.metals/
.bloop/
metals.sbt
.vscode

index.scip

node_modules
package.json
package-lock.json

.direnv
