name: CI

on:
  push:
    branches: [ "**" ]
    tags: [ v* ]
  pull_request:
    branches: [ "**" ]

jobs:
  build:
    runs-on: ubuntu-20.04
    env:
      JAVA_OPTS: -Xmx4G
    steps:
      - uses: actions/checkout@v3.5.0
      - uses: coursier/cache-action@v6.4
      - uses: coursier/setup-action@v1.2.1
        with:
          jvm: adopt:11
      - name: Run tests with sbt
        run: sbt test
      - name: Compile docs
        run: sbt compileDocs
      - name: Generate LSIF
        run: cs launch com.sourcegraph:scip-java_2.13:0.8.2 -- index
      - name: Install sourcegraph/src
        run: yarn global add @sourcegraph/src
      - name: Upload LSIF data
        run: src code-intel upload -trace=3 -root . -file index.scip -github-token $GITHUB_TOKEN
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  publish:
    name: Publish release
    if: github.event_name != 'pull_request' && (startsWith(github.ref, 'refs/tags/v'))
    needs: [build]
    runs-on: ubuntu-20.04
    env:
      JAVA_OPTS: -Xmx4G
    steps:
      - uses: actions/checkout@v3.5.0
        with:
          fetch-depth: 0
      - uses: coursier/cache-action@v6.4
      - uses: olafurpg/setup-scala@v14
      - run: sbt ci-release
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
      - name: Extract version from commit message
        run: |
          version=${GITHUB_REF/refs\/tags\/v/}
          echo "VERSION=$version" >> $GITHUB_ENV
        env:
          COMMIT_MSG: ${{ github.event.head_commit.message }}
      - name: Publish release notes
        uses: release-drafter/release-drafter@v5
        with:
          config-name: release-drafter.yml
          publish: true
          name: "v${{ env.VERSION }}"
          tag: "v${{ env.VERSION }}"
          version: "v${{ env.VERSION }}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}